<div class="blog_item">
    <div class="blog_image"><img src="{{ site.baseurl }}/assets/images/blog_item.png" alt="blog_item"></div>
    <div class="content">
        <h4>ScaleHack AI invited all tech wizards and AI enthusiasts to solve problems for a 1000€ prize!</h4>
        <p class="common_pera">ScaleHack AI was a 48 hour hackathon in Oulu that brought together all creative and curious people from different domains of technology, business, design and more! The goal of the event was to solve real-world problems…</p>
    </div>
</div>