<div class="card event_card">
    <div class="card_img">
     <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
     <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
     <a class="absolute card_badge bg-color-pink">Today</a>
    </div>
    <div class="card_content">
        <a href="#" class="card_title">Kaleva 2030 Hackathon</a>
        <div class="card_meta flex gap-10">
          <i class="fa-regular fa-calendar-days card_icon"></i>
          <div class="card_date">
            <a href="#">November 14, 2024 12:00</a>
            <br>
            <a href="#">November 16, 2024 16:00</a>
          </div>
        </div>
        <p class="common_pera">Kaleva Media celebrates the 125th anniversary of the newspaper Kaleva by organizing a hackathon event for university and college students. Gather a team of 3-6 people, sign up and get ready to create something new. Winning team gets a grand prize of 5000€! Travel, accommodation and food are paid for. Enrollment through your own university.</p>
    </div>
</div>