<div class="card event_card">
  <div class="card_img">
   <img src="{{ site.baseurl }}{{ post.image_url }}" alt="event image">
   <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
   <a class="absolute card_badge bg-color-pink">Today</a>
  </div>
  <div class="card_content">
      <a href="{{ site.baseurl }}{{ post.url }}" class="card_title">{{ post.title }}</a>
      <div class="card_meta flex gap-10">
        <i class="fa-regular fa-calendar-days card_icon"></i>
        <div class="card_date">
          <a href="#">{{ post.start_date }}</a>
          <br>
          <a href="#">{{ post.end_date }}</a>
        </div>
      </div>
      <p class="common_pera">{{ post.description }}</p>
  </div>
</div>