<section class="follow_section">
    <div class="r2a_container">
      <h2 class="common_title">Follow us on social media</h2>
      <div class="user flex items-center gap-40">
        <a href="#" class="instagram flex items-center gap-20"><img src="{{ site.baseurl }}/assets/images/instagram_musta_nelio.svg" alt="instagram logo"><span class="common_pera">@startupoulu</span></a>
        <a href="#" class="linkedin flex items-center gap-20"><img src="{{ site.baseurl }}/assets/images/linkedin_musta_nelio.svg" alt="linkedin logo"><span class="common_pera">startupoulu</span></a>
      </div>
      <div class="follow_items flex justify-between gap-20">
        <div class="follow_item flex items-center justify-center">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta_logo.svg" alt="insta logo"></a>
        </div>
        <div class="follow_item flex items-center justify-center">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta_logo.svg" alt="insta logo"></a>
        </div>
        <div class="follow_item flex items-center justify-center">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta_logo.svg" alt="insta logo"></a>
        </div>
        <div class="follow_item flex items-center justify-center d_none">
          <a href="#" class="follow_icon "><img src="{{ site.baseurl }}/assets/images/insta_logo.svg" alt="insta logo"></a>
        </div>
      </div>
    </div>
  </section>