<!-- footer section -->
<footer class="footer_section">
    <div class="r2a_container flex justify-between gap-20">
      <div class="info item">
        <a href="{{ site.baseurl }}/"><img class="footer_logo" src="{{ site.baseurl }}/assets/images/mobile-logo.png" alt="footer logo"></a>
        <h3 class="info_title">Startup events, services and community</h3>
        <p class="common_pera">Everything you need to know about the startup ecosystem in one place. Here you will find events for the aspiring entrepreneurs and enthusiasts. Soon we will add a database of services for startups provided by the public and private sectors in Oulu.</p>
      </div>
      <div class="blank item"></div>
      <div class="find item">
        <h3 class="find_title">Find us</h3>
        <div class="flex gap-20 find_inner">
          <i class="fa-solid fa-location-dot"></i>
          <p class="common_pera">Startup Station Technopolis Ydinkeskus­ta Oulu Sepänkatu 20, 90100 Oulu</p>
        </div>
        <div class="flex gap-20 find_inner">
          <i class="fa-solid fa-location-dot"></i>
          <p class="common_pera">Startup Station Technopolis Ydinkeskus­ta Oulu Sepänkatu 20, 90100 Oulu</p>
        </div>
        <div class="flex gap-10 items-center  find_inner">
          <a class="flex items-center justify-center" href="#"><i class="fa-brands fa-instagram"></i></a>
          <a class="flex items-center justify-center" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- copyright area start -->
  <section class="copyright">
    <div class="flex gap-20 justify-between items-center">
      <img src="{{ site.baseurl }}/assets/images/1.png" alt="oam">
      <img src="{{ site.baseurl }}/assets/images/2.png" alt="osao">
      <img src="{{ site.baseurl }}/assets/images/3.png" alt="oulu">
      <img src="{{ site.baseurl }}/assets/images/4.png" alt="oulu">
      <img src="{{ site.baseurl }}/assets/images/5.png" alt="olues">
      <img src="{{ site.baseurl }}/assets/images/6.png" alt="oia">
      <img src="{{ site.baseurl }}/assets/images/7.png" alt="vtt">
      <img src="{{ site.baseurl }}/assets/images/8.png" alt="pohjois">
      <img src="{{ site.baseurl }}/assets/images/9.png" alt="the eu">
      <img src="{{ site.baseurl }}/assets/images/10.png" alt="european union">
    </div>
  </section>
  <!-- copyright area ends -->