<header class="header">
    {% include logo.html %}
    <nav class="nav_bar">
      {% include nav.html %}
    </nav>
    <div class="toggle_btn"><i class="fa-solid fa-bars"></i></div>
    <nav class="mobile_nav_bar">
      <div class="r2a_container">
        <div class="flex justify-between items-center">
          <div class="logo">
            <a href="{{ site.baseurl }}/index.html">
              <img src="{{ site.baseurl }}/assets/images/mobile-logo.png" alt="logo">
            </a>
          </div>
          <div class="close_btn"><i class="fa-solid fa-xmark"></i></div>
      </div>
    </div>
      {% include nav.html %}
    </nav>
</header>