<!-- desktop -->
  <ul>
    <li><a href="{{ site.baseurl }}/event/" class="nav-item">Events</a></li>
    <li><a href="{{ site.baseurl }}/service/" class="nav-item">Services</a>
      <ul>
        <li><a href="#" class="nav-item">Mindset Stage</a></li>
        <li><a href="#" class="nav-item">Pre-startup</a></li>
        <li><a href="#" class="nav-item">Startup</a></li>
      </ul>
    </li>
    <li><a href="#" class="nav-item">Blog</a></li>
    <li><a href="#" class="nav-item">Contacts</a></li>
  </ul>
<!-- mobile -->
