<section class="newsletter">
    <div class="r2a_container flex items-center gap-100">
      <div class="newsletter_content">
        <h2 class="common_title color-white">Startup Oulu <br> Newsletter</h2>
        <p class="common_pera color-white">Subscribe to our newsletter and be the first one to <br> receive updates about Oulu startup ecosystem!</p>
        <form action="">
          <div class="form_group">
            <label for="">Email:</label>
            <input type="email" placeholder="">
          </div>
          <button type="submit">YES PLEASE!</button>
        </form>
      </div>
      <div class="newsletter_image">
        <img src="{{ site.baseurl }}/assets/images/newsletter.png" alt="newsletter image">
      </div>
    </div>
</section>