<div class="services_items flex justify-between gap-100">
    <!-- service 1 -->
    <div class="service_item">
      <p class="service_num">01</p>
      <div class="item_title">Mindset stage</div>
      <p class="common_pera">You’ve heard about startups and now you are looking for an opportunity to learn more and get inspired. Find tools and resources to fuel your curiosity and nurture your entrepreneurial mindset!</p>
      <a href="#" class="service_btn">GET ME STARTED!</a>
    </div>
    <!-- service 2 -->
    <div class="service_item">
      <p class="service_num">02</p>
      <div class="item_title">Pre-startup</div>
      <p class="common_pera">You have a scalable and innovative business idea and now require the right support to make it a tangible venture. Find local experts, funding opportunities, and tailored trainings to help you turn your concept into a real business!</p>
      <a href="#" class="service_btn">LET’S GO!</a>
      
    </div>
    <!-- service 3 -->
    <div class="service_item">
      <p class="service_num">03</p>
      <div class="item_title">Startup</div>
      <p class="common_pera">Having developed your MVP and established your company, it’s time to take your startup to new heights. Discover relevant networks, connect with valuable partners and attract potential investors to facilitate your growth!</p>
      <a href="#" class="service_btn">CONNECT ME!</a>
    </div>
  </div>