
@import "_variables/variables";
@import "_components/common";
@import "_threecart.scss";
@import "header";
@import "_pages/home";


// responsive css like media queries

@import "_responsive/home";

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: $default-font-size;
  font-family: $default-font-face;
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Hanken Grotesk", sans-serif;
}
// .container {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
//   padding: 2rem;
//   flex: 1;
//   max-width: $breakpoint;
// }


// Add your custom CSS here
// background colors



@media (max-width: $breakpoint) {
  
};