@media (max-width: 767.98px){
    .service_page_service_section{
        .r2a_container{
            .services{
                .common_side_title {
                    left: -110px;
                    top: 125px;
                }
                .services_items{
                    padding-top: 20px;
                }
            }
        }
    }
    
}



@media (min-width: 768px) and (max-width: 991.98px){

}

@media (min-width: 992px) and (max-width: 1199.98px){

}