// for mobile screen
@media (max-width: 767.98px){
    // hero section
    .single_event_hero{
        padding: 0;
        .r2a_container{
            flex-direction: column-reverse;
            gap: 20px;
            .content{
                width: 100%;
                .common_title{
                    padding: 20px 0;
                }
                .location{
                    padding-top: 10px;
                }
                .description{
                    padding: 15px 0;
                }
            }
            .image{
                width: 100%;
            }
        }
    }
    .pagination_section{
        margin-top: 50px;
        .flex{
            .item{
                .desktop{
                    display: none;
                }
                .d_none{
                    display: block;
                }
            }
            .all_item{
                display: none;
            }
        }
    }
    .for_mobile_pagination{
        padding: 28px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $brand-color;
        .link_text{
            color: $white-color;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .single_event_hero{
        padding: 0;
        .r2a_container{
            flex-direction: column-reverse;
            gap: 20px;
            .content{
                width: 100%;
                .common_title{
                    padding: 20px 0;
                }
                .location{
                    padding: 10px 0;
                    padding-bottom: 0;
                }
                .description{
                    padding: 15px 0;
                }
            }
            .image{
                width: 100%;
            }
        }
    }
    .pagination_section{
        margin-top: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){}