// here are some common css

.flex{
    display: flex 
  }
.justify-center{
  justify-content: center; 
}

.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.justify-left {
  justify-content: left;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}
  
.container-fluid{
  width:100%;
  padding: 10px 30px;
}
.r2a_container{
  width: 1160px;
  margin: 0 auto;
}

.common_btn{
  width: 278px;
  height: 50px;
  background: $brand-color;
  color: $white-color;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3.6px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.link_text{
  font-size: 16px;
  font-weight: 700;
  color: $brand-color;
  text-decoration: none;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.line{
  width: 91px;
  height: 2px;
  background: $brand-color;
}

.common_icon{
  width: 25px;
}

.mb_100{
  margin-bottom: 100px;
}

.gap-10{
  gap: 10px;
}
.gap-20{
  gap: 20px;
}
.gap-40{
  gap: 40px;
}
.gap-100{
  gap: 100px;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-5 {
  gap: 5rem;
}
// bg color
.bg-color-white {
  background-color: $white-color;
}
.bg-color-blue {
  background-color: $brand-color;
}
.bg-color-orange {
  background-color: $orange-color;
}
.bg-color-pink {
  background-color: $pink-color;
}

//colors
.color-white {
  color: #fff;
}
.color-blue {
  color: $brand-color;
}
.color-orange {
  color: $orange-color;
}
.color-pink {
  color: $pink-color;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.common_title{
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
}

.common_side_title {
  transform: matrix(0, -1, 1, 0, 0, 0);
  left: -40px;
  top: 50px;
  letter-spacing: 2.8px;
  font-weight: 700;
  position: absolute;
}

.item_title{
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: $brand-color;
}
.common_pera{
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: $brand-color;
}

.d_none{
  display: none;
}
.d_block{
  display: block;
}
.common_arrow{
  width: 50px;
  height: 1px;
  background-color: $white-color;
  position: relative;
  transition: all 0.5s;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(-45deg);
    width: 15px;
    height: 15px;
    border-right: 1px solid $white-color; 
    border-bottom: 1px solid $white-color; 
  }
}

.underline{
  width: 120px;
  height: 1px;
  background-color: $brand-color;
  transition: all 0.5s;
}

.active{
  display: block !important;
  opacity: 1 !important;
  transition: all 0.5s !important; 
}
// common button css
