// here are some common css
.flex{
    display: flex 
  }
  
  .justify-center{
    justify-content: center; 
  }
  
  .flex-col{
    flex-direction: column;
  }

  .flex-row{
    flex-direction: row;
  }
  .justify-left {
    justify-content: left;
  }
  .justify-between {
    justify-content: space-between;
  }
  .items-center {
    align-items: center;
  }
    
  .container-fluid{
  
    width:100%;
    padding: 10px 30px;
  }
  .r2a_container{
    width: 90%;
    margin: 0 auto;
  }
  
  .gap-20{
    gap: 20px;
  }
  .gap-40{
    gap: 40px;
  }
  .gap-1 {
    gap: 1rem;
  }
  .gap-2 {
    gap: 2rem;
  }
  .gap-5 {
    gap: 5rem;
  }
  .bg-color-white {
    background-color: #fff;
  }
  .bg-color-blue {
    background-color: #090541;
  }
  .bg-color-orange {
    background-color: #FF4600;
  }
  .bg-color-pink {
    background-color: #FF3198;
  }
  //colors
  .color-white {
    color: #fff;
  }
  .color-blue {
    color: #090541;
  }
  .color-orange {
    color: #FF4600;
  }
  .color-pink {
    color: #FF3198;
  }
  
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }//font-size
  .font-size-16 {
    font-size: 16px;
  }
  .font-size-18 {
    font-size: 18px;
  }
  .font-size-20 {
    font-size: 20px;
  }
  .font-size-24 {
    font-size: 24px;
  }
  .font-size-28 {
    font-size: 28px;
  }
  .font-size-32 {
    font-size: 32px;
  }
  .font-size-36 {
    font-size: 36px;
  }
  .font-size-40 {
    font-size: 40px;
  }
  .font-size-44 {
    font-size: 44px;
  }
  .common_heading{
    font-size: 50px;
  }
