// here are some common css
.flex{
    display: flex 
  }
  
  .justify-center{
    justify-content: center; 
  }
  
  .flex-col{
    flex-direction: column;
  }

  .flex-row{
    flex-direction: row;
  }
  .gap-5{
    gap: 200px;
  }
    
  .container-fluid{
  
    width:100%;
    padding: 10px 30px;
  }
  
  .gap-20{
    gap: 20px;
  }
  