// banner section css =========

.hero {
    background: url('../assets/images/herobg.jpg') no-repeat center center;
    background-size: cover;
    // filter: sepia(0.4) hue-rotate(300deg) saturate(2.5) brightness(1.1) contrast(0.9);
    .banner{
        height: 80vh;
        .r2a_container{
            height: 100%;
            .main-banner-center {
                margin-left: 5rem;
                .main-banner-h1-text {
                    font-size: 80px;
                    font-weight: 700;
                    color: #fff;
                    display: inline-block;
                    margin-bottom: -15px;
                    margin-top: 8rem;
                    padding: 0 1rem ;
                    text-align: left;
                }
                  .main-banner-h2-text {
                    font-size: 30px;
                    font-weight: 400;
                    color: #fff;
                    display: inline-block;
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
                    text-align: left;
                    margin-left: 2rem;
                    padding: 1rem ;
                    font-family: 'Hanken Grotesk', sans-serif;
                }
            }
        }
    }
    .banner_bottom_section{
        background: $brand-color;
        background: linear-gradient(90deg, transparent 61%, $brand-color 61%);
        display: block;
        .r2a_container{
            .bg-color-blue{
                padding: 96px 82px;
                a{
                    font-size: 20px;
                    color: #fff;
                    font-weight: 500;
                    letter-spacing: 4px;
                    text-decoration: none;
                    .common_arrow{
                        width: 250px;
                    }
                    &:hover{
                        .common_arrow{
                            width: 500px;
                        }
                    }
                }
            }
            
        }
    }
}
  
// event section css =========

.event_title_section{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 61%, $brand-color 60%);
    .common_title{
        padding-top: 100px;
        width: 700px;
    }
}
.event_section {
    padding: 6rem 0rem 6rem 0rem;
    text-align: center;
  }
  .show_event_btn{
    color: $brand-color;
    font-size: $font-size-18;
    letter-spacing: 3.6px;
    font-weight: 900;
    text-decoration: none;
    margin-top: 90px;
    .common_arrow{
        background-color: $brand-color;
        width: 130px;
        &::after{
            border-right: 1px solid $brand-color; 
            border-bottom: 1px solid $brand-color;
        }
    }
    
  }
  .cart-text {
    
    padding: 2.5rem;
  }
  .cart-text-h3 {
    font-size: 30px;
    color: $brand-color;
    font-weight: extra-bold;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .cart-text-p {
    font-size: 16px;
    color: $brand-color;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  
  .overlayText {
    opacity: 0;
    color: white;
    position: absolute;
    inset: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    background: $cart-overlay-bg;
  }
  
  
  .cart {
    width: 33.33%;
    transition: 0.5s;
    background: #E9DEFF;
    &:hover{
      box-shadow: 8px 8px 1px 0px $brand-color; 
      
    }
    &:hover .overlayText {
      opacity: 1;
    }
  }
  
  .maincart {
    margin: 0 auto;
  }
  .absolute_img_txt {
    margin: 0;
    z-index: 10;
    margin-top: -28px;
    padding: 0.2rem 1.5rem;
    color: white;
    font-size: 16px;
    z-index: 1;
  }
  .inside_cart_date_img {
    width: auto;
    height: 20px;
  }
  .inside_cart_bg_img {
    width: 100%;
    // height: 210px;
  }

// service section css =========
.service{
    padding: 150px 0;
    background: $service-bg;
    position: relative;
    .r2a_container{
        position: relative;
        .service_title{
            width: 460px;
            margin-bottom: 181px;
        }
        .services{
            position: relative;
            .services_items{
                margin-left: 80px;
                .service_item{
                    .service_num{
                        font-size: 14px;
                        color: $brand-color;
                        margin-bottom: 12px;
                    }
                    .service_btn{
                        width: 100%;
                        padding: 15px;
                        background-color: $brand-color;
                        color: #fff;
                        font-size: 16px;
                        letter-spacing: 3.6px;
                        font-weight: 900;
                        text-decoration: none;
                        margin-top: 20px;
                        display: inline-block;
                        border: 1px solid $brand-color;
                        text-align: center;
                        transition: all 0.5s;
                        &:hover{
                            background-color: transparent;
                            color: $brand-color;
                            box-shadow: 6px 6px 0px 1px $brand-color;  
                        }
                    }
                    
                }
                

            }
        }
    }
    
    .service_image{
        width: 55%;
        position: absolute;
        right: 0px;
        top: -100px;
        @media screen and (min-width: 1440px){
            width: 840px;
            
        }
    }
}

// startup_section css =========
.startup_section{
    padding: 120px 0;
    .r2a_container{
        .startups{
            .startups_items{
                padding-left: 80px;
                margin: 100px 0;
                .startups_num{
                    font-size: 80px;
                    line-height: 90px;
                    font-weight: 900;
                    color: $brand-color;    
                    margin-bottom: 40px;
                }
                .startups_label{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 500;
                    color: $brand-color; 
                    letter-spacing: 2.8px; 
                }
            }
            .startup_bottom{
                .startup_link{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: $brand-color; 
                    letter-spacing: 2.8px; 
                    text-decoration: none;
                    .common_arrow{
                        background: $brand-color;
                        width: 60px;
                        &::after{
                            border-right: 1px solid $brand-color; 
                            border-bottom: 1px solid $brand-color;
                        }
                    }
                    &:hover{
                        .common_arrow{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}

// newsletter section css =========
.newsletter{
    background-color: $brand-color;
    padding: 100px 0;
    .r2a_container{
        .newsletter_content{
            width: 50%;
            .common_pera{
                color: $white-color;
                margin: 37px 0;
            }
            form{
                .form_group{
                    margin-bottom: 20px;
                    label{
                        font-size: 16px;
                        color: $white-color;
                        font-weight: 400;
                        letter-spacing: 2.8px;
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                    input{
                        width: 100%;
                        padding: 15px;
                        border: 2px solid $white-color;
                        background-color: transparent;
                        color: $white-color;
                        font-size: 16px;
                        font-weight: 400;
                        &::placeholder{
                            color: $white-color;
                        }
                    }
                }
                button{
                    padding: 15px 30px;
                    background-color: $white-color;
                    color: $brand-color;
                    font-size: 16px;
                    letter-spacing: 3.6px;
                    font-weight: 900;
                    text-align: center;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        .newsletter_image{
            width: 50%;
            margin-top: -120px;
            text-align: right;
            img{
                width: 100%;
            }
        }
    }
}
// follow section css =========
.follow_section{
    padding: 120px 0;
    .r2a_container{
        .user{
            padding-top: 40px;
            padding-bottom: 70px;
            .instagram{
                text-decoration: none;
            }
            .linkedin{
                text-decoration: none;
            }
        }
        .follow_items{
            .follow_item{
                width: 376px;
                height: 376px;
                background-color: $gray-color;
                .follow_icon{
                    
                }
            }
        }
    }
}
// footer section css =========
.footer_section{
    padding: 120px 0;
    background-color: $brand-color;
    .r2a_container{
        .item{
            width: 376px;
            .common_pera{
                color: $white-color;
            }
        }
        .info{
            .footer_logo{
                width: 200px;
                margin-bottom: 40px;
            }
            .info_title{
                font-size: 30px;
                line-height: 35px;
                color: $white-color;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
        .find{
            .find_title{
                font-size: 30px;
                line-height: 35px;
                color: $white-color;
                font-weight: 700;
                margin-bottom: 35px;
            }
            .find_inner{
                i{
                    color: $white-color;
                    display: inline-block;
                    font-size: 24px;
                }
                .common_pera{
                    width: 50%;
                    margin-top: 0;
                    padding-top: 0;
                }
                a{
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background-color: $white-color;
                    text-decoration: none;
                    i{
                        color: $brand-color;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

// copyright section css =========

.copyright{
    padding: 1rem 2rem;
    .flex{
        img{
            
        }
    }
}
