<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
<body>
    {% include menu_2.html %}
    <!-- banner section html start -->
     <section class="event_banner relative ">
        <div class="r2a_container flex items-center ">
            <div class="content">
                <p class="top_title">EVENTS</p>
                <h2 class="common_title">Meet likeminded people at the events organized by Oulu startup ecosystem partners</h2>
            </div>
        </div>
        
        <div class="banner_image absolute">
            <img src="{{ site.baseurl }}/assets/images/event_banner.png" alt="">
        </div>
        <div class="mobile_content absolute">
            <p class="top_title">EVENTS</p>
            <h2 class="common_title">Meet likeminded people at the events organized by Oulu startup ecosystem partners<div>
        </div>
     </section>
    <!-- banner section html end -->

    <!--  event section start -->
    <section class="event_section">
        <div class="r2a_container">
          <div class="events_grid">
            {% for post in site.posts limit:3 %}
            {% if post.layout == "single-event" %}
            {% include event_card.html %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="flex justify-center">
          <a href="#" class="show_event_btn flex items-center flex-col gap-20">LOAD MORE EVENTS <div class="underline"></div></a>
        </div>
    </section>
    <!--  event section end -->

    <!-- newsletter section start -->
    {% include newsletter.html %}
    <!-- newsletter section ends -->

    <!-- follow us section start -->
    {% include follow.html %}
    <!-- follow us section ends -->

    {% include footer.html %}
    {% include script.html %}
</body>
</html>