<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
<body>
    {% include menu_2.html %}
    <!-- banner section html start -->
     <section class="single_event_hero">
      <div class="r2a_container flex justify-between gap-100">
        <div class="content">
          <p class="top_title flex gap-10 items-center"><a href="{{ site.baseurl}}/event">EVENTS</a><i class="fa-solid fa-chevron-right"></i> <a href="#">{{ page.title }}</a></p>
          <h2 class="common_title">{{ page.title }}</h2>
          <div class="card_meta flex gap-10">
            <i class="fa-regular fa-calendar-days card_icon"></i>
            <a href="#" class="common_pera">{{ page.start_date }} - {{ page.end_date }}</a>
          </div>
          <div class="card_meta flex gap-10 location">
            <i class="fa-solid fa-location-dot card_icon"></i>
            <a href="#" class="common_pera">Location</a>
          </div>
          <p class="common_pera description">{{ page.description }}</p>
          <a href="{{ site.baseurl}}/event" class="common_btn">READ MORE <i class="fa-solid fa-up-right-from-square"></i></a>
        </div>
        <div class="image">
          <img src="{{ site.baseurl }}{{ page.image_url }}" alt="single event hero image">
        </div>
      </div>
     </section>
    <!-- banner section html end -->

    <!-- pagination section html start -->
     <section class="pagination_section">
      <div class="flex justify-between items-center">
        <div class="prev_item item">
          <a href="#" class="flex items-center gap-10 link_text desktop"><i class="fa-solid fa-arrow-left"></i> PREVIOUS EVENT</a>
          <a href="#" class="flex items-center gap-10 link_text d_none"><i class="fa-solid fa-arrow-left"></i> PREVIOUS</a>
        </div>
        <div class="all_item item">
          <a href="#" class="link_text flex flex-col gap-10 items-center">BACK TO ALL EVENTS <span class="line"></span></a>
        </div>
        <div class="next_item item">
          <a href="#" class="flex items-center gap-10 link_text desktop">NEXT EVENT <i class="fa-solid fa-arrow-right"></i> </a>
          <a href="#" class="flex items-center gap-10 link_text d_none">NEXT <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
      </div>
     </section>
     
     <div class="d_none for_mobile_pagination">
      <a href="#" class="link_text">BACK TO ALL EVENTS</a>
     </div>
    <!-- pagination section html end -->

    <!--  event section start -->
    <section class="event_section">
      <div class="r2a_container">
        <div class="events_grid">
          {% for post in site.posts %}
            {% if post.layout == "single-event" %}
              {% include event_card.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="flex justify-center">
        <a href="#" class="show_event_btn flex items-center flex-col gap-20">LOAD MORE EVENTS <div class="underline"></div></a>
        
      </div>
  </section>
  <!--  event section end -->
    <!--  event section end -->

    <!-- newsletter section start -->
    {% include newsletter.html %}
    <!-- newsletter section ends -->

    <!-- follow us section start -->
    {% include follow.html %}
    <!-- follow us section ends -->

    {% include footer.html %}
    {% include script.html %}
</body>
</html>