<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
<body>
    {% include menu_2.html %}
    <!-- banner section html start -->
     <section class="single_event_hero">
      <div class="r2a_container flex justify-between gap-100">
        <div class="content">
          <p class="top_title flex gap-10 items-center"><a href="#">EVENTS</a><i class="fa-solid fa-chevron-right"></i> <a href="#">NORTHERN STARS</a></p>
          <h2 class="common_title">Northern Stars</h2>
          <div class="card_meta flex gap-10">
            <i class="fa-regular fa-calendar-days card_icon"></i>
            <a href="#" class="common_pera">November 28, 2024 09:00 - November 28, 2024 16:00</a>
          </div>
          <div class="card_meta flex gap-10 location">
            <i class="fa-solid fa-location-dot card_icon"></i>
            <a href="#" class="common_pera">Location</a>
          </div>
          <p class="common_pera description">Once again, it’s time to showcase what our Northern Stars are made of, sharing their journeys toward growth and success. A day filled with keynotes, panel discussions, and debates, where you’ll network with investors and learn how to build winning teams and skyrocket your sales.</p>
          <a href="#" class="common_btn">READ MORE <i class="fa-solid fa-up-right-from-square"></i></a>
        </div>
        <div class="image">
          <img src="{{ site.baseurl }}/assets/images/event.png" alt="single event hero image">
        </div>
      </div>
     </section>
    <!-- banner section html end -->

    <!-- pagination section html start -->
     <section class="pagination_section">
      <div class="flex justify-between items-center">
        <div class="prev_item item">
          <a href="#" class="flex items-center gap-10 link_text desktop"><i class="fa-solid fa-arrow-left"></i> PREVIOUS EVENT</a>
          <a href="#" class="flex items-center gap-10 link_text d_none"><i class="fa-solid fa-arrow-left"></i> PREVIOUS</a>
        </div>
        <div class="all_item item">
          <a href="#" class="link_text flex flex-col gap-10 items-center">BACK TO ALL EVENTS <span class="line"></span></a>
        </div>
        <div class="next_item item">
          <a href="#" class="flex items-center gap-10 link_text desktop">NEXT EVENT <i class="fa-solid fa-arrow-right"></i> </a>
          <a href="#" class="flex items-center gap-10 link_text d_none">NEXT <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
      </div>
     </section>
     
     <div class="d_none for_mobile_pagination">
      <a href="#" class="link_text">BACK TO ALL EVENTS</a>
     </div>
    <!-- pagination section html end -->

    <!--  event section start -->
    <section class="event_section">
      <div class="r2a_container">
        <div class="events_grid">
          <div class="card event_card">
            <div class="card_img">
             <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
             <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
             <a class="absolute card_badge bg-color-pink">Today</a>
            </div>
            <div class="card_content">
                <a href="#" class="card_title">Kaleva 2030 Hackathon</a>
                <div class="card_meta flex gap-10">
                  <i class="fa-regular fa-calendar-days card_icon"></i>
                  <div class="card_date">
                    <a href="#">November 14, 2024 12:00</a>
                    <br>
                    <a href="#">November 16, 2024 16:00</a>
                  </div>
                </div>
                <p class="common_pera">Kaleva Media celebrates the 125th anniversary of the newspaper Kaleva by organizing a hackathon event for university and college students. Gather a team of 3-6 people, sign up and get ready to create something new. Winning team gets a grand prize of 5000€! Travel, accommodation and food are paid for. Enrollment through your own university.</p>
            </div>
          </div>
          <div class="card event_card">
            <div class="card_img">
             <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
             <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
             <a class="absolute card_badge bg-color-pink">TOMORROW</a>
            </div>
            <div class="card_content">
                <a href="#" class="card_title">Slush Oulu Community Side Event & Pitching Competition 15.11.2024</a>
                <div class="card_meta flex gap-10">
                  <i class="fa-regular fa-calendar-days card_icon"></i>
                  <div class="card_date">
                    <a href="#">November 15, 2024 14:00</a>
                    <br>
                    <a href="#">November 15, 2024 18:00</a>
                  </div>
                </div>
                <p class="common_pera">Slush is the world’s leading startup event that takes place in Helsinki every year, bringing together top startups and world-class investors. This year’s…</p>
            </div>
          </div>
          <div class="card event_card">
            <div class="card_img">
             <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
             <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
             <a class="absolute card_badge bg-color-pink">THIS WEEK</a>
            </div>
            <div class="card_content">
                <a href="#" class="card_title">Kickstart business idea competition finale</a>
                <div class="card_meta flex gap-10">
                  <i class="fa-regular fa-calendar-days card_icon"></i>
                  <div class="card_date">
                    <a href="#">November 27, 2024 12:00</a>
                    <br>
                    <a href="#">November 27, 2024 18:00</a>
                  </div>
                </div>
                <p class="common_pera">Kickstart business idea competition brings together the students of Oamk, University of Oulu and OSAO. Come and watch the competition finale where the teams compete for cash prizes of 1500€, 1000€ and 500€ by pitching their business idea!</p>
            </div>
          </div>
          <div class="card event_card">
            <div class="card_img">
             <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
             <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
             <!-- <a class="absolute card_badge bg-color-pink">THIS WEEK</a> -->
            </div>
            <div class="card_content">
                <a href="#" class="card_title">Northern Stars</a>
                <div class="card_meta flex gap-10">
                  <i class="fa-regular fa-calendar-days card_icon"></i>
                  <div class="card_date">
                    <a href="#">November 28, 2024 09:00</a>
                    <br>
                    <a href="#">November 28, 2024 16:00</a>
                  </div>
                </div>
                <p class="common_pera">Once again, it’s time to showcase what our Northern Stars are made of, sharing their journeys toward growth and success. A day filled with keynotes, panel discussions, and debates, where you’ll network with investors and learn how to build winning teams and skyrocket your sales.</p>
            </div>
          </div>
          <div class="card event_card">
            <div class="card_img">
             <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
             <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
             <!-- <a class="absolute card_badge bg-color-pink">THIS WEEK</a> -->
            </div>
            <div class="card_content">
                <a href="#" class="card_title">Startup Express</a>
                <div class="card_meta flex gap-10">
                  <i class="fa-regular fa-calendar-days card_icon"></i>
                  <div class="card_date">
                    <a href="#">November 30, 2024 16:00</a>
                    <br>
                    <a href="#">December 31, 2024 16:00</a>
                  </div>
                </div>
                <p class="common_pera">NON-STOP REGISTRATION FROM BEGINNING OF SEPTEMBER. Turn your idea into a startup in 100 days with help of a community! Are you interested in launching your own startup in Oulu, but not sure how to get started? Startup Express is a pre-incubator program that provides skills, confidence and contacts to empower you on your journey.…</p>
            </div>
          </div>
          <div class="card event_card">
            <div class="card_img">
             <img src="{{ site.baseurl }}/assets/images/herobg.jpg" alt="">
             <div class="overlayText flex items-center justify-center">MORE ABOUT THIS EVENT</div>
             <!-- <a class="absolute card_badge bg-color-pink">THIS WEEK</a> -->
            </div>
            <div class="card_content">
                <a href="#" class="card_title">Apply to health tech startup incubator OYSTER in November</a>
                <div class="card_meta flex gap-10">
                  <i class="fa-regular fa-calendar-days card_icon"></i>
                  <div class="card_date">
                    <a href="#">December 1, 2024 00:00</a>
                    <br>
                    <a href="#">March 1, 2025 00:00</a>
                  </div>
                </div>
                <p class="common_pera">OYSTER will serve as a cutting-edge digital health Research, Development, and Innovation (RDI) center and strategically it is designed to synergize with the new Oulu University Hospital OYS2030. The OYSTER Incubator is primarily targeted at starting companies as well as researchers, students…</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <a href="#" class="show_event_btn flex items-center flex-col gap-20">LOAD MORE EVENTS <div class="underline"></div></a>
        
      </div>
  </section>
  <!--  event section end -->
    <!--  event section end -->

    <!-- newsletter section start -->
    {% include newsletter.html %}
    <!-- newsletter section ends -->

    <!-- follow us section start -->
    {% include follow.html %}
    <!-- follow us section ends -->

    {% include footer.html %}
    {% include script.html %}
</body>
</html>